.input-text-container {
    position: relative;
    margin: 8px 0;
}

.error-message {
    position: absolute;
    bottom: -28px;
    left: 0;
    color: red;
}

.input-text-container.invalid {
    border-color: red;
}